a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.content {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.web {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.main-link {
  color: var(--iris, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #404bbf;
}
.contacts {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:active,
.contacts:focus {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
}
.main-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.order-button {
  background: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
.title {
  color: #2e2f42;
}
.other-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.paragraph {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.list-item {
  background-color: #ffffff;
}
.job {
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.page-footer {
  background-color: #2e2f42;
}
.web-link {
  color: #f4f4fd;
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}