a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.content {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  max-width: 1158px;
  padding-left: ;
  padding-right: ;
  margin-left: ;
  margin-right: ;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.page-header {
  
  width: 1440px;
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.header-container{
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px; 
  padding-right: 15px;
}
.navigation {
  display: flex;
  align-items: center;
}
.link-list {
  display: flex;
  gap: 40px;
  margin: 24px 332px 24px 0px;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.web {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.main-link {
  color: var(--iris, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 24px 76px 24px 156px;
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;  
  padding-bottom: 24px;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #404bbf;
}
.contacts {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-right: 40px;
}
.contacts:hover,
.contacts:active,
.contacts:focus {
  color: #404bbf;
}
.hero {
  display: flex;
  flex-direction: column;
  background-color: #2e2f42;
  height: 600px;
  padding-top: 188px; 
  padding-bottom: 188px;
}
.main-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  height: 120px;
  padding: 188px 472px 292px 472px;
}
.order-button {
  display: block;
  background-color: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 356px 636px 188px 636px;
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
.title {
  color: #2e2f42;
}
.other-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.paragraph {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.list-item {
  background-color: #ffffff;
}
.job {
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.page-footer {
  background-color: #2e2f42;
}
.web-link {
  color: #f4f4fd;
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
